{% load static %}

{% block content %}

{% include 'recruiter_navigation.html' %}
<script>
    function checkpass(){
        if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value){
            alert('New password and Confirm password not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<marquee behavior="" direction="" style="font-family: Poppins,sans-serif;font-size: 25px;color: darkcyan;background-color: black;font-weight: bold;margin-top: 1%;">
    Change Password - recruiter
</marquee>
<hr>

<form action="" method="post" class="container mt-5" name="changepassword" onclick="return checkpass()">
    {% csrf_token %}

    <label for=""><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" placeholder="Current Password" required="true">

    <label for=""><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" placeholder="Current Password" required="true">

    <label for=""><b>Confirm Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" placeholder="Current Password" required="true">
  
    <input type="submit" class="btn btn-outline-primary" style="margin-top: 2%; color: darkcyan;background-color: black;height: 40px;font-size: 15px;">
</form>

{% include 'footer.html' %}


{% ifequal error "no" %}
<script>
    alert('Your password updated succefully');
    window.location = ('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong , Try again...');
</script>

{% endifequal %}

{% ifequal error "not" %}
<script>
    alert('Your current password is wrong');
</script>

{% endifequal %}

{% endblock %}