{% load static %}

{% block content %}

{% include 'navigation.html' %}

<style>
    .mydiv:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        transform: translateY(-20px);
    }
</style>

<marquee behavior="" direction="" style="font-family: Poppins,sans-serif;font-size: 25px;color: darkcyan;background-color: black;font-weight: bold;margin-top: 1%;">
    Contact Us
</marquee>
<hr>
<div class="container mt-5">
    <br><br>
    <div class="row mt-5">
        <div class="col-sm-4 mydiv">
            <h4 class="text-center"><i class="fas fa fa-phone-square"></i> Contact</h4>
            <p class="text-center">+91 9600823655</p>
        </div>
    
        <div class="col-sm-4 mydiv">
            <h4 class="text-center"><i class="fas fa fa-envelope"></i> Email ID</h4>
            <p class="text-center">safi135791@gmail.com</p>
        </div>
    
        <div class="col-sm-4 mydiv">
            <h4 class="text-center"><i class="fas fa fa-phone-square"></i> Address</h4>
            <p class="text-center">Thondi,Ramanathapuram</p>
        </div>
    
    </div>
    
</div>
{% endblock %}