{% load static %}

{% block content %}

{% include 'navigation.html' %}

<style>
    .form-group{
        margin-top: 15px;
    }
    .pass{
        margin-top: 25px;
    }
</style>

<script>
    function checkpass(){
        if(document.signup.pwd.value != document.signup.cpwd.value){
            alert('password not same')
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>

<marquee behavior="" direction="" style="font-family: Poppins,sans-serif;font-size: 25px;color: darkcyan;background-color: black;font-weight: bold;margin-top: 1%;">
    User SignUp
</marquee>
<hr>
<form action="" method="post" onsubmit="return checkpass()" name="signup" class="container mt-5" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row g-3">
        <div class="form-group col-md-6 ">
            <label for="">First Name</label>
            <input type="text" class="form-control" name="fname" placeholder="first name" required>
        </div>

        <div class="form-group col-md-6">
            <label for="">Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="last name" required>
        </div>
        
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 ">
            <label for="">Contact</label>
            <input type="text" class="form-control" name="contact" placeholder="contact number" required>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="form-group col-md-12 ">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" placeholder="email" required>
        </div>
    </div>
    
     <div class="row g-3">
        <div class="form-group col-md-6 pass">
            <label for="">Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="password" required>
        </div>

        <div class="form-group col-md-6 pass">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" name="cpwd" placeholder="confirm password" required>
        </div>
        
    </div>

    <div class="row g-3">
        <div class="form-group col-md-6 pass">
            <div class="custom-control custom-radio custom-control-inline">
            <label for="" >Gender</label>

            <div style="border: 1px solid lightgray;padding: 5px;border-radius: 6px;">
            
                <input type="radio" name="gender" id="customRadioInline" class="custom-control-input" value="Male" required>
                <label for="customRadioInline" class="custom-control-label">Male</label>
          
                <input type="radio" name="gender" id="customRadioInline2" class="custom-control-input" value="Female" required>
                <label for="customRadioInline2" class="custom-control-label">Female</label>
            
            </div>
            </div>
        </div>
    
        <div class="form-group col-md-6 pass">
            <label for="">Image</label>
            <input type="file" class="form-control" name="image" required>
        </div>

    </div>

    <input type="submit" value="Submit" class="btn btn-outline-primary my-3" style="margin-top: 15px;width: 200px;">

</form>

{% include 'footer.html' %}

{% ifequal error "no" %}
<script>
    alert('Signup Succefully');
    window.location = ('{% url 'user_login' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong,Try Again...');
</script>
{% endifequal %}

{% endblock %}